.main {
  background-color: hotpink;
  height: 70vh;
  text-align: bottom;
  font-size: 25px;
}

.cards {
  display: grid;
  grid-template-columns: 500px 500px 500px;
  padding-left: 200px;
  font-size: 20px;
  background-color: indianred;
  height: 50vh;
  text-align: center;
}

.card {
  padding-right: 90px;
}

.carousel {
  height: 90px;
}
