.heading {
  text-align: center;
  position: relative;
}

.sidebar {
  height: 100px;
  width: 100px;
}

.newsbox {
  font-size: medium;
  height: 1070px;
  width: 300px;
  border-style: hidden;
  position: relative;
  left: -1100px;
  top: -600px;
}

.postForm {
  position: relative;
  padding-left: 475px;
  top: -1630px;
  height: 40px;
  width: 500px;
}

.postButton {
  align-content: center;
}
