.newsbox {
  font-size: small;
  height: 1070px;
  width: 300px;
  border-style: hidden;
  position: relative;
  right: -1100px;
  top: -600px;
}

.title {
  text-align: center;
}

.form {
  padding-bottom: 12px;
  margin-bottom: 2rem;
}
