/* .sidebar {
    font-size: small;
    height: 500px;
    width: 200px;
    border-style: solid;
} */

.profilebox {
    font-size: small;
    height: 300px;
    width: 200px;
    border-style: solid;
    position: relative;
    left: 30px
}

.followingbox {
    font-size: small;
    height: 300px;
    width: 200px;
    border-style: solid;
    position: relative;
    left: 30px;
    bottom: 10px;
}