.profilebox {
  font-size: small;
  height: 300px;
  width: 200px;
  border-style: hidden;
  position: relative;
  left: 30px;
}

.followingbox {
  font-size: small;
  height: 300px;
  width: 200px;
  border-style: hidden;
  position: relative;
  left: 30px;
  bottom: 10px;
}
