

section{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.post-form{
  display: inline-block;
  padding-left: 475px;
  position: relative;
  top: -900px;
  
}

.new-post{
  align-content: center;
  height: 40px;
  width: 500px;
  position: relative;

}

.controls{
  display: inline;
  margin-left: 50%;
}


